<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <title>出库单</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <!--    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</head>

<body>

<div class="container">
    <h3 class="text-center" th:text="${salesOrder.orderName}">恒丰陶瓷1出库单</h3>
    <div>
        <span style="position: fixed ! important; top: 50px;">录单日期： <span th:text="${salesOrder.sellTimeStr}"></span></span>
        <span style="position: fixed ! important;left: 40%; top: 50px;">编号：<span th:text="${salesOrder.orderNumber}">XS-20201120-005</span></span>
        <span style="position: fixed ! important;left: 65%; top: 50px;">购买单位：<span
                th:text="${salesOrder.customerName}">七天 欧朋</span></span>
    </div>
    <div><span style="position: fixed ! important; top: 70px;">经手人：<span
            th:text="${salesOrder.passBy}">陈俊龙</span></span></div>
    <span style="position: fixed ! important;left: 40%; top: 70px;">摘要：<span th:text="${salesOrder.zy}">XS-20201120-005</span></span>
    <div style="padding-top: 35px">
        <table class="table table-sm">
            <!--<caption>边框表格布局</caption>-->
            <thead style="border: 1px solid black">
            <tr>
                <th style="border: 1px solid black" width="12%" height="20">商品名称</th>
                <th style="border: 1px solid black" width="12%">商品编号</th>
                <th style="border: 1px solid black" width="8%">规格</th>
                <th style="border: 1px solid black" width="8%">色号</th>
                <th style="border: 1px solid black" width="8%">单位</th>
                <th style="border: 1px solid black" width="8%">数量</th>
                <th style="border: 1px solid black" width="8%">单价</th>
                <th style="border: 1px solid black" width="8%">金额</th>
                <th style="border: 1px solid black" width="8%">件数</th>
                <th style="border: 1px solid black" width="8%">备注</th>
            </tr>
            </thead>
            <tbody style="border: 1px solid black" >
            <tr style="height: 30px;border: 1px solid black" th:each="child:${salesOrder.childList}">
                <td style="border: 1px solid black"  th:text="${child.product.productName == null ? '' : child.product.productName}">Tanmay</td>
                <td style="border: 1px solid black"  th:text="${child.product.productNumber == null ? '' : child.product.productNumber}">Bangalore</td>
                <td style="border: 1px solid black" th:text="${child.product.specifications == null ? '' : child.product.specifications}">560001</td>
                <td style="border: 1px solid black" th:text="${child.product.color == null ? '' : child.product.color}">560001</td>
                <td style="border: 1px solid black" th:text="${child.product.unit == null ? '' : child.product.unit}">560001</td>
                <td style="border: 1px solid black" th:text="${child.number == null ? '' : child.number}">560001</td>
                <td style="border: 1px solid black" th:text="${child.price == null ? '' : child.price}">560001</td>
                <td style="border: 1px solid black" th:text="${child.amount == null ? '' : child.amount}">560001</td>
                <td style="border: 1px solid black" th:text="${child.jianshu == null ? '' : child.jianshu}">560001</td>
                <td style="border: 1px solid black" th:text="${child.remark == null ? '' : child.remark}">560001</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <span>制单人: <span th:text="${salesOrder.madeBy}">廖凡</span></span>
        <span style="padding-left: 200px">合计金额:<span th:text="${salesOrder.amount}">  50000</span></span>
    </div>
    <div>
        敬告客户：<span th:text="${salesOrder.jgkh}">1.阿萨德来看哈市了肯定会看谁打谁了健康</span>
    </div>
</div>
</body>

</html>
