<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jesper.mapper.ProductInstorgeMapper">
    <resultMap id="BaseResultMap" type="com.jesper.hftc.entity.ProductInstorge">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="warehoue_id" property="warehouseId" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="chmc" property="chmc" jdbcType="VARCHAR"/>
        <result column="numbers" property="number" jdbcType="INTEGER"/>
        <result column="jianshu" property="jianshu" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"></result>
        <result column="total_money" property="totalMoney" jdbcType="DECIMAL"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="w_name" property="ck" jdbcType="VARCHAR"/>
    </resultMap>


    <insert id="save" parameterType="com.jesper.hftc.entity.ProductInstorge">
        insert into product_instorge (product_id, warehoue_id, address,chmc, numbers, jianshu, price, total_money,state,
                             remark,create_time)
        values (#{productId},#{warehouseId},#{address},#{chmc},#{number},#{jianshu},#{price},#{totalMoney},#{state},#{remark},#{createTime})
    </insert>

    <select id="getList" resultMap="BaseResultMap" parameterType="com.jesper.hftc.entity.ProductInstorge">
        select pi.*,p.product_name,w.w_name from product_instorge pi
        left join product p on p.id = pi.product_id
        left join warehouse_parent w on w.id = pi.warehoue_id
        where pi.is_delete = 0
        <if test=" beginTime != null and endTime != null">
            and pi.create_time between #{beginTime} and #{endTime}
        </if>
        <if test="chmc != null">
            and pi.chmc like concat('%', #{chmc, jdbcType=VARCHAR}, '%')
        </if>
        <if test=" state != null ">
            and pi.state = #{state}
        </if>
        order by pi.create_time desc
        limit #{start},#{end}

    </select>
<!--
select pi.*,p.product_name,w.w_name from product_instorge pi
        left join product p on p.id = pi.product_id
        left join warehousemanage wm on wm.id = pi.warehoue_id
        left join warehouse_parent w on w.id = wm.parent_id
        where pi.is_delete = 0
        <if test=" beginTime != null and endTime != null">
            and pi.create_time between #{beginTime} and #{endTime}
        </if>
        <if test="chmc != null">
            and pi.chmc like concat('%', #{chmc, jdbcType=VARCHAR}, '%')
        </if>
        <if test=" state != null ">
            and pi.state = #{state}
        </if>
        order by pi.create_time desc
        limit #{start},#{end}
-->
    <select id="count" resultType="integer" parameterType="com.jesper.hftc.entity.ProductInstorge">
        select count(*) from product_instorge where is_delete = 0
        <if test=" beginTime != null and endTime != null">
            and create_time between #{beginTime} and #{endTime}
        </if>
        <if test=" chmc != null ">
            and chmc like concat('%', #{chmc, jdbcType=VARCHAR}, '%')
        </if>
        <if test=" state != null ">
            and state = #{state}
        </if>
    </select>
</mapper>